@font-face {
  font-family: 'Gotham';
  src: url('GothamRounded-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Regular.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 11px;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Cardo";
  line-height: 1;
  background: #F0E8D8;
}

.sleepMode {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &.on {
    background: black;
    opacity: .5;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: left;
  background: url('./images/background.png') no-repeat center bottom;
  background-size: 100% auto;
}

.current {
  width: 62%;
  margin-right: 10%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;

  h1.temp {
    position: absolute;
    left: 2.375rem;
    top: 26%;
    font-size: 9.375rem;
    font-family: 'Gotham';
    &:after {
      content: "°";
    }
  }

  h2.description {
    position: absolute;
    left: 3.375rem;
    top: 25.6875rem;
    font-size: 1.875rem;
    line-height: 1.06;
  }

  .wind {
    position: absolute;
    bottom: 19px;
    left: 32px;
    font-size: 3.125rem;

    h3, h4 {
      font-family: 'Gotham';
      font-size: 4.375rem;
      display: inline-block;
      position: relative;
      top: 12px;
      left: -8px;
    }
    h4 {
      //display: block;
      //font-size: 3rem;
      margin-bottom: 16px;
    }
  }
  

  

}

.forecast {
  width: 28%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    position: relative;

    .hour {
      text-align: right;
      position: absolute;
      left: -1rem;
      font-size: 1.25rem;
      letter-spacing: 3.33px;
      
      &:after {
        content: "h";
      }
    }
    .temp {
      text-align: left;
      position: absolute;
      left: 2rem;
      top: -0.4rem;
      font-size: 2.5rem;
      //letter-spacing: 3.67px;
      font-family: 'Gotham';
      &:after {
        content: "°";
      }
    }

    .indicator {
      position: absolute;
      right: 1.5rem;
      top: -1.5rem;

      img {
        height: 4rem
      }
    }
  }
}