@font-face {
  font-family: 'Gotham';
  src: url('GothamRounded-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Regular.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 11px;
  width: 100%;
  height: 100%;
  color: black;
  font-family: "Cardo";
  line-height: 1;
  background: #F0E8D8;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: left;
  background: url('./images/background.png') no-repeat center bottom;
  background-size: 100% auto;
}

.weather {
  width: 68%;
  height: 100%;
  position: relative;

  h1.temp {
    position: absolute;
    left: 4.375rem;
    top: 26%;
    font-size: 9.375rem;
    font-family: 'Gotham';
    &:after {
      content: "°";
    }
  }

  h2.description {
    position: absolute;
    left: 8.375rem;
    top: 45%;
    font-size: 1.875rem;
    line-height: 1.06;
  }

  .wind {
    position: absolute;
    bottom: 19px;
    left: 32px;
    font-size: 3.125rem;

    h3 {
      font-family: 'Gotham';
      font-size: 4.375rem;
      display: inline-block;
      position: relative;
      top: 12px;
      left: -8px;
    }
  }
  

  

}

.forecast {
  width: 32%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    position: relative;

    .hour {
      text-align: right;
      position: absolute;
      right: 7.75rem;
      font-size: 1.25rem;
      letter-spacing: 3.33px;
      
      &:after {
        content: "h";
      }
    }
    .temp {
      position: absolute;
      left: 3.5rem;
      font-size: 2.5rem;
      letter-spacing: 6.67px;
      font-family: 'Gotham';
      &:after {
        content: "1°";
      }
    }
  }
}